<div class="p-2">
  <div>
    <form [formGroup]="formulario" (submit)="mostrar()">
      <div class="mb-3">
        <label for="name">Nombre: </label>
        <input id="name" formControlName="name" type="text" class="border-slate-400 rounded-lg p-1 border-2 w-2/3">
        <p *ngIf="boton">
          <span *ngIf="formulario.get('name')?.invalid">(Debe contener como minimo 10 caracteres)</span>
        </p>
      </div>
      <div class="mb-3">
        <label for="email">Email: </label>
        <input id="email" formControlName="email" type="text" class="border-slate-400 rounded-lg p-1 border-2 ml-5 w-2/3">
        <p *ngIf="boton">
          <span *ngIf="formulario.get('email')?.invalid">(El correo debe ser valido)</span>
        </p>
      </div>
      <div class="mb-3 flex flex-wrap ">
        <label for="mensaje">Mensaje: </label>
        <textarea id="mensaje" formControlName="mensaje" rows="10" class="border--400 rounded-lg p-1 border-2 w-2/3 ml-1"></textarea>
        <p *ngIf="formulario.get('mensaje')?.invalid">(El mensaje no puede quedar vacio.)</p>
      </div>
      <div class="mb-3 text-center">
        <button class="bg-blue-400 rounded-lg p-2 drop-shadow-md">Confirmar</button>
      </div>
    </form>
    <div>
      <p>{{formulario.value |json}}</p>
    </div>
  </div>
</div>